@model IEnumerable<CouchPotato.Models.Languages>

@{
    ViewBag.Title = "Languages";
}

<div style="font-family:Arial">
    <h2>Languages</h2>

    <div class="row">
        <a id="addLang" class="btn btn-primary" href="@Url.RouteUrl("AddLanguage")" role="button">Add Language</a>
    </div>
    <br />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Language)
            </th>
            <th>Actions</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Language)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>
</div>